// Import

@use './vars' as *;


/* Css Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Generals */

body {
    font-family: $main-font;
    background-color: $secondary-col;
  }


ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}


h2,h4 {
  color: $secondary-col;
}

h3 {
  font-size: 30px;
}


// Scrollbar

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $primary-col;
}


  /* Utils */

  .container {
    width: 1450px;
    margin: 0 auto;
  }


  .button {
    color: $secondary-col;
    display: inline-block;
    background-color: $primary-col;
    padding: 20px 35px;

    a {
      color: $secondary-col;
      font-weight: 700;
    }
  }

  .title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;

    h3 {
      margin-bottom: 20px;
    }
}

.card {
  box-shadow: 0px 0px 14px 1px #00000091;
  cursor: pointer;

  &:hover {
    transition: 0.2s;
    box-shadow: 0px 0px 14px 10px #00000091;
}
}
